<tr>
    <td>{{@index}}</td>
    <td>{{ynn ins}}</td>
    <td>{{ynn fuel}}</td>
    <td>{{ynn dmg}}</td>
    <td>{{ynn d44}}</td>
    <td><button onclick="subdel('{{_id}}')">DELETE</button></td>
    {{#if editable }}<td><button onclick="subedit('{{_id}}')">EDIT</button></td>{{/if}}
</tr>